*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: white;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  color: black;
}

body {
  height: 100vh;
}

h1 {
  font-size: 2em;
  color: #02a2f2;
  font-weight: 500;
}

h2 {
  color: #02A2F2;
  font-size: 25px;
}

.h3, h3 {
  font-size: 20px;
}

p, pre, code {
  line-height: 1.5;
}

a {
  color: brown;
}

a[href],
a[href]:visited {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.btn, .form-control {
  border-radius: 30px;
}

.border-left-none {
  border-left: 0;
}

/* Header  */
header {
  color: black;
}

header > em {
  display: block;
  font-size: 2em;
  margin: .67em 0;
  font-weight: bold;
  font-style: normal;
}

header .main-header {
  background: #ccc;
  padding: 10px 0;
  width: 100%;
}

header .main-header .brand {
  background: url("../static/img/logo.svg") no-repeat;
  display: table;
  float: left;
}

header .main-header .brand h1 {
  font-size: 35px;
  font-weight: 900;
  padding-left: 125px;
  vertical-align: top;
  margin-top: 11px;
  color: black;
}

header .main-header .img-fluid {
  width: 100%;
}

header .main-header .banner-top {
  text-align: right;
}

header .form-search-box {
  position: static;
  display: block;
  float: right;
  margin-top: 7px;
  background: transparent;
  border: none;
}

header .form-search-box form {
  position: relative;
}

header .form-search-box span, header .form-search-box input {
  line-height: 35px;
  height: 35px;
  color: #333;
  font-size: 14px;
}

header .form-search-box .active span {
  color: #999;
}

header .form-search-box input {
  border-radius: 999px;
  background: #fdfdfd;
  border: 1px solid #ebebeb;
  padding-left: 35px;
  padding-right: 15px;
}

header .form-search-box input:focus {
  background-color: #fff;
  border-color: #ddd;
}

header .form-search-box input :focus + span {
  color: #23a0bf;
}

header .form-search-box span {
  background: url(../static/img/search.svg) no-repeat;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #333;
  width: 20px;
  height: 20px;
  padding: 0;
  background-size: cover;
}

header .main-menu {
  margin-bottom: 25px;
}

header .main-menu .navbar-nav {
  display: table;
}

header .main-menu .navbar-nav li {
  display: table;
  position: relative;
  vertical-align: middle;
  z-index: 100;
  float: left;
}

header .main-menu .navbar-nav li :first-child {
  margin-left: 0;
}

header .main-menu .navbar-nav li a {
  padding: 17px;
  font-size: 16px;
  color: #fff;
}

header .main-menu .navbar-nav li a:hover {
  color: #02A2F2;
}

/* main */
main {
  text-align: justify;
  margin-bottom: 30px;
}

main .headline {
  margin-bottom: 30px;
}

main #welcome {
  margin-top: 0;
}

main .carousel-control .arrow-left, main .carousel-control .arrow-right {
  background: url("../static/img/arrow.png") no-repeat;
  height: 34px;
  width: 18px;
  display: table;
  position: absolute;
  top: 45%;
}

main .carousel-control .arrow-left {
  background-position: 2px 8px;
  left: 10px;
}

main .carousel-control .arrow-right {
  background-position: -15px 8px;
  float: right;
  right: 10px;
}

main form {
  display: -ms-grid;
  display: grid;
  padding: 2em 0;
}

main form label {
  display: none;
}

main form input,
main form textarea,
main form button {
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

main form input,
main form textarea {
  border: 1px solid black;
}

main form button {
  border: 1px solid #7a6202;
  background-color: #7a6202;
  color: white;
  cursor: pointer;
}

/* slider*/
/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.widget {
  padding: 26px 0;
  font-size: 14px;
}

.widget:first-child {
  padding-top: 0;
}

.widget:last-child {
  border-bottom: none;
}

.widget .widget-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.widget .widget-title {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 15px;
}

.widget ul li {
  padding: 7px 0;
}

.widget ul li:first-child {
  padding-top: 0;
}

.widget ul li a {
  color: #ccc;
}

.widget ul li a:hover {
  color: orange;
}

.widget .social-menu {
  display: table;
  margin: 5px 0;
}

.widget .social-menu li {
  padding: 0;
  float: left;
  margin-right: 10px;
}

.widget .social-menu li:last-child {
  margin-right: 0;
}

.widget .social-menu li a {
  font-size: 30px;
  color: white;
}

.p-list {
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.p-list h3 {
  margin-top: 0;
  padding-top: 0;
}

.p-list .thum-list {
  display: inline-table;
  float: left;
  width: 192px;
  margin: 0 15px 0 0;
  padding: 5px;
  background: #ddd;
}

.p-list aside {
  display: inline-table;
}

.p-list a[rel=tag], .p-list a[rel=tag]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .62em;
  padding: 3px 8px;
  line-height: 1.5em;
  height: 2em;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 .5em .5em 0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.p-list a[rel="tag"]:hover {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: white;
}

.p-list a[rel="tag"]:last-child {
  margin-right: 0;
}

.widget-tag {
  overflow: hidden;
}

.widget-tag a {
  display: block;
  float: left;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-size: 11px;
  padding: 3px 8px;
  margin: 5px;
}

.widget-tag a:hover {
  background: gray;
  border-color: gray;
  color: white;
}

.widget-recent #recent-post-list li {
  border-bottom: 1px solid #262626;
  padding: 10px 0;
}

.widget-recent #recent-post-list li:first-child {
  padding-top: 0;
}

.widget-recent #recent-post-list li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

footer {
  background: black;
  padding-top: 30px;
}

footer .txt-footer {
  color: #b5b5b5;
}

footer .copyright {
  border-top: 1px solid #333333;
  margin-top: 20px;
  color: #727272;
  padding: 10px 0;
}

/* boostrap edit */
header .navbar-brand {
  display: none;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  border: none;
}

.post-title {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.meta-entry {
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: gray;
}

.meta-entry span {
  color: #b5b5b5;
  margin-right: 20px;
}

.featured-article {
  border-bottom: 1px solid #727272;
  padding-bottom: 20px;
}

.featured-article .main-featured .card-img-top {
  display: block;
}

.featured-article .main-featured .card-img-top img {
  width: 100%;
  border: 1px solid #727272;
}

.featured-article .main-featured .excerpt {
  color: black;
}

h6.widget-title {
  font-weight: 600;
  color: #23a0bf;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  margin-bottom: 43px;
}

h6.widget-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 60px;
  border-bottom: 3px solid #02A2F2;
}

/* boostrap edit end */
@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
  .navbar-nav {
    margin: 15px 0;
  }
}

@media screen and (max-width: 568px) {
  .p-list {
    padding-bottom: 0;
  }
  .p-list .thum-list {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  header .main-header {
    display: none;
  }
  header .main-menu {
    margin-bottom: 0;
  }
  header .main-menu .navbar {
    margin-bottom: 0;
  }
  header .main-menu .navbar-nav li {
    width: 100%;
    margin: 0;
  }
  header .main-menu .navbar-nav li a {
    display: block;
    width: 100%;
    padding: 6px 6px 6px 15px;
  }
  header .navbar-brand {
    display: block;
  }
  header .form-search-box {
    margin: 15px 0;
    width: 100%;
  }
  header .form-search-box input {
    width: 100%;
  }
  .p-list {
    padding-bottom: 0;
  }
  .p-list .thum-list {
    width: 161px;
  }
  .m-slider {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  header .brand {
    height: 65px;
  }
  header .brand h1 {
    padding-left: 85px;
    margin-top: 16px;
    font-size: 25px;
  }
  header .banner-top {
    display: none;
  }
}
