
$color0: black;
$color1: #0d121a;
$color2: #1e2b3d;
$color3: #62a9c4;
$color4: #eaf0f3;
$color5: #ffefa6;
$color6: #636363;
$color7:white;

*,
*:before,
*:after {
box-sizing: border-box;
}

html,
body {
	background: $color4;
	padding: 0;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	color: $color0;
}
body {
	height: 100vh;
}
code, p, pre{line-height: 1.4}
h1{
	font-size: 2em;
    color: $color3;
    font-weight: 500;
}
h2{
	color: $color3;
	font-size: 25px;
}
.h3, h3{
	font-size: 20px;
}
p, pre, code {
	line-height: 1.5;
}
a{
	color: $color3;
}
a[href],
a[href]:visited {
	text-decoration: none;
}


ul {
	padding: 0;
	list-style: none;
}


.btn,.form-control{
	border-radius: 30px;
}
.border-left-none{
	border-left: 0;
}

a[rel=tag], a[rel=tag]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .62em;
	padding: 3px 8px;
	line-height: 1.5em;
	height: 2em;
	border-radius: 30px;
	text-decoration: none;
	margin: 0 .5em .5em 0;
	border: 1px solid $color6;
	color: $color6;
	cursor: pointer;

}
a[rel="tag"]:hover {
	border: 1px solid $color4;
	background-color: $color4;
	color: $color4;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}  
/* Header  */
header {
	color: $color0;
	>em {
		display: block;
		font-size: 2em;
		margin: .67em 0;
		font-weight: bold;
		font-style: normal;
	}
	.main-header {
		background: $color3;
		padding: 10px 0;
		width: 100%;
		.brand{
			background: url("/static/img/logo.svg") no-repeat;
			display: table;
			float: left;	
			h1{
				font-size: 35px;
				font-weight: 900;
				padding-left: 125px;
				vertical-align: top;
				margin-top: 11px;
				color: $color0;
			}		
		}
		.img-fluid {
			width: 100%;
		}
		.banner-top{
			text-align: right;
		}
	}
	.form-search-box{
		position: static;
		display: block;
		float: right;
		margin-top: 11px;
		background: transparent;
		border: none;
		form{position: relative;}
		span, input{
			line-height: 28px;
			height: 28px;
			color: $color6;;
			font-size: 14px;
		}
		.active span{color: $color6;}
		input{
			border-radius: 999px;
			background: $color4;
			border: 1px solid $color4;;
			padding-left: 30px;
			padding-right: 15px;
			&:focus{
				background-color: $color4;;
				border-color: $color6;
			}
			:focus + span{
				color: $color3;
			}
		}
		span{
			background: url(/static/img/search.svg) no-repeat;
			-webkit-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			position: absolute;
			top: 7px;
			left: 9px;
			color: $color6;
			width: 16px;
			height: 16px;
			padding: 0;
			background-size: cover;
		}
	}
	.main-menu {
		margin-bottom: 0;
		.navbar-nav{
			display: table;
			li {
				display: table;
				position: relative;
				vertical-align: middle;
				z-index: 100;
				float: left;
				:first-child {
					margin-left: 0;
				}
				a {
					border-bottom: 2px solid transparent;
					padding: 15px;
					font-size: 16px;
					color: $color4;
					&:hover{
						color:$color3;
						border-bottom: 2px solid $color3;
					}
					
				}
			}
		}
	}
}

/* main */
main{
	text-align: justify;
	padding: 30px 0;
	background: url("/static/img/bg-main.jpg") repeat-x;
	.bg-main{
		background: $color4 url("/static/img/bg-article.png") repeat-x;
	}
	h1{
		margin-bottom: 20px;
	}
	.headline{
		margin-bottom: 30px;
	}
	#welcome{
		margin-top: 0;
	}
	.carousel-control{
		.arrow-left, .arrow-right{
			background: url("/static/img/arrow.png") no-repeat;
			height: 34px;
			width: 18px;
			display: table;
			position: absolute;
			top: 45%;

		}
		.arrow-left{
			background-position: 2px 8px;
			left: 10px;
			

		}
		.arrow-right{
			background-position: -15px 8px;
			float: right;
			right: 10px;
		}
	}
	
	form {
		display: -ms-grid;
		display: grid;
		padding: 2em 0;
		label {
			display: none;
		}
		input,
		textarea,
		button {
			padding: 1em;
			margin-bottom: 1em;
			font-size: 1rem;
			font-family: "Avenir", "Avenir Next", sans-serif;
		}
		
		input,
		textarea {
			border: 1px solid $color0;
		}
		
		button {
			border: 1px solid $color2;
			background-color: $color2;
			color: $color4;
			cursor: pointer;
		}
	}

}

/* slider*/


/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $color4;
	display: table;
	width: 100%;	
	padding: 15px;
	img{
		margin-bottom: 25px;
	}
}

.widget {
	padding: 26px 0;
	font-size: 14px;
	&:first-child {
			padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
	.widget-title {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.widget-title {
		font-weight: 600;
		color: $color3;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		margin-top: 0;
		margin-bottom: 15px;
	}
	ul {
		li {
			padding: 4px 0;
			border-bottom: 1px solid $color6;
			&:first-child { padding-top: 0;}
			a { 
				color: $color4;
				&:hover { 
					color: $color5;
				}
			}

		}
	}
	.social-menu{
		display: table;
		margin: 5px 0;
		li{
			padding: 0;
			float: left;
			margin-right: 10px;	
			border: none;		
			&:last-child {
				margin-right: 0;
			}
			a{
				font-size: 30px;
				color: $color4;
			}

		}
	}
}
.p-list{
	padding-bottom: 0;
    border-bottom: 1px solid $color4;
    padding-bottom: 20px;
    h3{
        margin-top: 0;
        padding-top: 0;
    }
    .thum-list{
        display: inline-table;
        float: left;
        width: 192px;
		margin:0 15px 0 0;
		padding: 5px;
		background: $color6;
    }
    aside{
        display: inline-table;
	}
	
	
}

.widget-tag {
	overflow: hidden;
	a {
		display: block;
		float: left;
		color: $color4;
		border: 1px solid $color4;
		text-transform: uppercase;
		border-radius: 30px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		font-size: 11px;
		padding: 3px 8px;
		margin: 5px;
		&:hover {
			background:$color6;
			border-color: $color6;
			color: $color4;
		}
	}
}
.widget-recent {
	#recent-post-list li {
		border-bottom: 1px solid $color6;
		padding: 10px 0;		
		&:first-child { 
			padding-top: 0;}
		&:last-child { 
			padding-bottom: 0;
			border-bottom: none;}
	}
	
}

footer{
	background:$color2;
	padding-top: 30px;
	.txt-footer{
		color: $color6;
		margin-top: 20px;
	}
	.copyright {
		border-top: 1px solid $color6;
		margin-top: 20px;
		color: $color6;
		padding: 10px 0;
	}	
}
/* boostrap edit */
header .navbar-brand{
	display: none;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-inverse{
	background: $color2;
	border: none;
}
.post-title {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
}
.meta-entry {		
	font-size: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: $color6;
	margin-bottom: 2px;
	.post-date, .author {
		color: $color6;
		margin-right: 15px;		
		padding-left:16px;
	}
	.post-date{
		background:url("/static/img/calendar.svg") no-repeat;		
	}
	.author{
		background:url("/static/img/edit.svg") no-repeat;		
	}
	
	
}
.featured-article{
	padding-bottom: 20px;
	.main-featured{		
		padding-bottom: 15px;
		.card-img-top{
			display: block;
			img{
				width: 100%;
				padding: 5px;
				background: $color7;
			}
		}
		.excerpt{
			color: $color0;
		}
	}	
}
h6.widget-title { 
    font-weight: 600;
    color: $color3;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
	margin-bottom: 43px;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -13px;
		width: 60px;
		border-bottom: 3px solid $color3;
	}
}
/* svg icon */

.block {
	display: block;
	width: 20px;
	height: 20px;
}

/* boostrap edit end */
@media screen and (min-width: 768px) {
	:root {
		font-size: 1.1rem;
		}
	.navbar-nav{
		margin: 15px 0;
	}
}
@media screen and (max-width: 568px) {
	.p-list {
		padding-bottom: 0;
		.thum-list {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	
}

@media screen and (max-width: 1200px){
	header{
		.main-header{
			.brand{
				h1 {
					padding-left: 100px;
					padding-top: 0;
					font-size: 25px;
				}
			}
		}
	}
}

@media screen and (max-width: 980px) {	
	header{
		.main-header{
			.brand{
				h1 {
					padding-left: 65px;
				}
			}
		}
		.banner-top{
			display: none;
		}
	}
	.headline{
		.m-slider{
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 767px) {
	header{
		.main-header{
			display: none;
		}
		.main-menu {
			margin-bottom: 0;
			.navbar{
				margin-bottom: 0;
				position: fixed;
				width: 100%;
				z-index: 100;
			}
			.navbar-nav{
				margin: 7.5px 0;
				width: 100%;
				li{
					width: 100%;
					margin: 0;
					a{
						display: block;
						width: 100%;
						padding: 6px 6px 6px 15px;
						border: 0;
						font-size: 14px;
					}
				}
			}
		}
		.navbar-brand{
			display: block;
		}
		.form-search-box {
			margin: 15px 0;
			width: 100%;
			input {
				width: 100%;
			}
		}		
	}
	main{
		.headline{
			margin-top: 50px;
		}

	}
	.p-list {
		padding-bottom: 0;
		.thum-list {
			width: 161px;
		}
	}
	.m-slider{
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 20px;
	}	
	.featured-article{
		.main-featured{	
			border-bottom: 1px solid $color6;;
			margin-bottom: 20px;
		}
	}
}
