	
	
	*,
	*:before,
	*:after {
	box-sizing: border-box;
}

html,
body {
	background: white;
	padding: 0;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	color: black;
}
body {
	height: 100vh;
}
h1{
	font-size: 2em;
    color: #02a2f2;
    font-weight: 500;
}
h2{
	color: #02A2F2;
	font-size: 25px;
}
.h3, h3{
	font-size: 20px;
}
p, pre, code {
	line-height: 1.5;
}
a{
	color: brown;
}
a[href],
a[href]:visited {
	text-decoration: none;
}


ul {
	padding: 0;
	list-style: none;
}


.btn,.form-control{
	border-radius: 30px;
}
.border-left-none{
	border-left: 0;
}
/* svg icon */
.svg-icon {
	width: 1em;
	height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
	fill: #b9c3cf;
  }
  
  .svg-icon circle {
	stroke: #fff;
	stroke-width: 1;
  }
  svg.block { fill: #f7d674; }
/* Header  */
header {
	color: black;
	>em {
		display: block;
		font-size: 2em;
		margin: .67em 0;
		font-weight: bold;
		font-style: normal;
	}
	.main-header {
		background: #ccc;
		padding: 10px 0;
		width: 100%;
		.brand{
			background: url("../static/img/logo.svg") no-repeat;
			display: table;
			float: left;	
			h1{
				font-size: 35px;
				font-weight: 900;
				padding-left: 125px;
				vertical-align: top;
				margin-top: 11px;
				color: black;
			}		
		}
		.img-fluid {
			width: 100%;
		}
		.banner-top{
			text-align: right;
		}
	}
	.form-search-box{
		position: static;
		display: block;
		float: right;
		margin-top: 7px;
		background: transparent;
		border: none;
		form{position: relative;}
		span, input{
			line-height: 35px;
			height: 35px;
			color: #333;
			font-size: 14px;
		}
		.active span{color: #999;}
		input{
			border-radius: 999px;
			background: #fdfdfd;
			border: 1px solid #ebebeb;
			padding-left: 35px;
			padding-right: 15px;
			&:focus{
				background-color: #fff;
				border-color: #ddd;
			}
			:focus + span{
				color: #23a0bf;
			}
		}
		span{
			background: url(../static/img/search.svg) no-repeat;
			-webkit-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			position: absolute;
			top: 9px;
			left: 9px;
			color: #333;
			width: 20px;
			height: 20px;
			padding: 0;
			background-size: cover;
		}
	}
	.main-menu {
		margin-bottom: 25px;
		.navbar-nav{
			display: table;
			li {
				display: table;
				position: relative;
				vertical-align: middle;
				z-index: 100;
				float: left;
				:first-child {
					margin-left: 0;
				}
				a {
					padding: 17px;
					font-size: 16px;
					color: #fff;
					&:hover{
						color:#02A2F2;
					}
					
				}
			}
		}
	}
}

/* main */
main{
	text-align: justify;
	margin-bottom: 30px;
	h1{
		margin-bottom: 30px;
	}
	.headline{
		margin-bottom: 30px;
	}
	#welcome{
		margin-top: 0;
	}
	.carousel-control{
		.arrow-left, .arrow-right{
			background: url("../static/img/arrow.png") no-repeat;
			height: 34px;
			width: 18px;
			display: table;
			position: absolute;
			top: 45%;

		}
		.arrow-left{
			background-position: 2px 8px;
			left: 10px;
			

		}
		.arrow-right{
			background-position: -15px 8px;
			float: right;
			right: 10px;
		}
	}
	
	form {
		display: -ms-grid;
		display: grid;
		padding: 2em 0;
		label {
			display: none;
		}
		input,
		textarea,
		button {
			padding: 1em;
			margin-bottom: 1em;
			font-size: 1rem;
			font-family: "Avenir", "Avenir Next", sans-serif;
		}
		
		input,
		textarea {
			border: 1px solid black;
		}
		
		button {
			border: 1px solid #7a6202;
			background-color: #7a6202;
			color: white;
			cursor: pointer;
		}
	}

}

/* slider*/


/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
}

.widget {
	padding: 26px 0;
	font-size: 14px;
	&:first-child {
			padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
	.widget-title {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.widget-title {
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		margin-top: 0;
		margin-bottom: 15px;
	}
	ul {
		li {
			padding: 7px 0;
			&:first-child { padding-top: 0;}
			a { 
				color: #ccc;
				&:hover { 
					color: orange;
				}
			}

		}
	}
	.social-menu{
		display: table;
		margin: 5px 0;
		li{
			padding: 0;
			float: left;
			margin-right: 10px;			
			&:last-child {
				margin-right: 0;
			}
			a{
				font-size: 30px;
				color: white;
			}

		}
	}
}
.p-list{
	padding-bottom: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
	margin-bottom: 15px;
	
    h3{
        margin-top: 0;
        padding-top: 0;
    }
    .thum-list{
        display: inline-table;
        float: left;
        width: 192px;
		margin:0 15px 0 0;
		padding: 5px;
		background: #ddd;
    }
    aside{
        display: inline-table;
	}
	a[rel=tag], a[rel=tag]:visited {
		display: inline-block;
		vertical-align: text-top;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: .62em;
		padding: 3px 8px;
		line-height: 1.5em;
		height: 2em;
		border-radius: 30px;
		text-decoration: none;
		margin: 0 .5em .5em 0;
		border: 1px solid #ddd;
		cursor: pointer;

	}
	a[rel="tag"]:hover {
		border: 1px solid #ccc;
		background-color: #ccc;
		color: white;
	}
	
	a[rel="tag"]:last-child {
		margin-right: 0;
	}  
	
}

.widget-tag {
	overflow: hidden;
	a {
		display: block;
		float: left;
		color: #fff;
		border: 1px solid #fff;
		text-transform: uppercase;
		border-radius: 30px;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		font-size: 11px;
		padding: 3px 8px;
		margin: 5px;
		&:hover {
			background:gray;
			border-color: gray;
			color: white;
		}
	}
}
.widget-recent {
	#recent-post-list li {
		border-bottom: 1px solid #262626;
		padding: 10px 0;		
		&:first-child { 
			padding-top: 0;}
		&:last-child { 
			padding-bottom: 0;
			border-bottom: none;}
	}
	
}

footer{
	background: black;
	padding-top: 30px;
	.txt-footer{
		color: #b5b5b5;
	}
	.copyright {
		border-top: 1px solid #333333;
		margin-top: 20px;
		color: #727272;
		padding: 10px 0;
	}	
}
/* boostrap edit */
header .navbar-brand{
	display: none;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
}
.navbar{
	border-radius: 0;
}
.navbar-inverse{
	border: none;
}
.post-title {
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}
.meta-entry {		
	font-size: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: gray;
	span {
		color: #b5b5b5;
		margin-right: 20px;
	}
	
}
.featured-article{
	border-bottom: 1px solid #727272;
	padding-bottom: 20px;
	.main-featured{		
		.card-img-top{
			display: block;
			img{
				width: 100%;
				border: 1px solid #727272;
			}
		}
		.excerpt{
			color: black;
		}
	}	
}
h6.widget-title { 
    font-weight: 600;
    color: #23a0bf;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
	margin-bottom: 43px;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -13px;
		width: 60px;
		border-bottom: 3px solid #02A2F2;
	}
}

/* boostrap edit end */
@media screen and (min-width: 768px) {
	:root {
		font-size: 1.1rem;
		}
	.navbar-nav{
		margin: 15px 0;
	}
}
@media screen and (max-width: 568px) {
	.p-list {
		padding-bottom: 0;
		.thum-list {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 667px) {
	
}
@media screen and (max-width: 768px) {
	header{
		.main-header{
			display: none;
		}
		.main-menu {
			margin-bottom: 0;
			.navbar{
				margin-bottom: 0;
			}
			.navbar-nav li{
				width: 100%;
				margin: 0;
				a{
					display: block;
					width: 100%;
					padding: 6px 6px 6px 15px;
				}
			}
		}
		.navbar-brand{
			display: block;
		}
		.form-search-box {
			margin: 15px 0;
			width: 100%;
			input {
				width: 100%;
			}
		}		
	}
	.p-list {
		padding-bottom: 0;
		.thum-list {
			width: 161px;
		}
	}
	.m-slider{
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 20px;
	}	

}
@media screen and (max-width: 1000px) {
	header{
		.brand{
			height: 65px;
			h1 {
				padding-left: 85px;
				margin-top: 16px;
				font-size: 25px;
			}
		}
		.banner-top{
			display: none;
		}
	}
	

}