*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
}

body {
  height: 100vh;
}

h1 {
  font-size: 2em;
  color: #02A2F2;
}

h2 {
  color: #02A2F2;
}

p, pre, code {
  line-height: 1.5;
}

a {
  color: brown;
}

a[href],
a[href]:visited {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.btn, .form-control {
  border-radius: 30px;
}

.border-left-none {
  border-left: 0;
}

/* Header  */
header {
  background: black;
  color: white;
}

header > em {
  display: block;
  font-size: 2em;
  margin: .67em 0;
  font-weight: bold;
  font-style: normal;
}

header .main-header {
  padding: 10px 0;
  width: 100%;
  background: #444;
}

header .main-header .brand {
  background: url("../static/img/logo.svg") no-repeat;
  display: table;
  float: left;
}

header .main-header .brand h1 {
  font-size: 35px;
  font-weight: 900;
  padding-left: 125px;
  vertical-align: top;
  margin-top: 11px;
  color: #fff;
}

header .main-header .img-fluid {
  width: 100%;
}

header .main-header .banner-top {
  text-align: right;
}

header .navbar {
  background: transparent;
}

header .nav-top {
  border-bottom: 1px solid #333;
}

header .nav-top #secondary-menu {
  display: table;
  float: left;
}

header .nav-top .social-menu {
  display: table;
  margin: 5px 0;
  float: right;
}

header .nav-top .social-menu li {
  padding: 0 5px;
  float: left;
}

header .nav-top .social-menu li a {
  font-size: 24px;
  color: white;
}

header .main-menu {
  margin-bottom: 25px;
}

header .main-menu .navbar-nav li {
  display: table;
  position: relative;
  vertical-align: middle;
  z-index: 100;
  float: left;
}

header .main-menu .navbar-nav li :first-child {
  margin-left: 0;
}

header .main-menu .navbar-nav li a {
  padding: 17px;
  font-size: 16px;
  color: #fff;
}

header .main-menu .navbar-nav li a :hover {
  color: orange;
}

/* main */
main {
  text-align: justify;
}

main .headline {
  margin-bottom: 30px;
}

/* slider*/
/* Posts List */
article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.widget {
  padding: 26px 0;
  font-size: 14px;
}

.widget:first-child {
  padding-top: 0;
}

.widget:last-child {
  border-bottom: none;
}

.widget .widget-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.widget .widget-title {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 15px;
}

.widget ul li {
  padding: 7px 0;
}

.widget ul li:first-child {
  padding-top: 0;
}

.widget ul li a {
  color: #ccc;
}

.widget ul li a:hover {
  color: orange;
}

.widget-tag {
  overflow: hidden;
}

.widget-tag a {
  display: block;
  float: left;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-size: 11px;
  padding: 3px 8px;
  margin: 5px;
}

.widget-tag a:hover {
  background: gray;
  border-color: gray;
  color: white;
}

.widget-recent #recent-post-list li {
  border-bottom: 1px solid #262626;
  padding: 10px 0;
}

.widget-recent #recent-post-list li:first-child {
  padding-top: 0;
}

.widget-recent #recent-post-list li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

footer {
  background: black;
  padding-top: 30px;
}

footer .copyright {
  border-top: 1px solid #333333;
  margin-top: 20px;
  color: #727272;
  padding: 10px 0;
}

/* boostrap edit */
header .navbar-brand {
  display: none;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}

.post-title {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.meta-entry {
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: gray;
}

.meta-entry span {
  color: #b5b5b5;
  margin-right: 20px;
}

.featured-article {
  margin-bottom: 30px;
  border-bottom: 1px solid #727272;
}

.featured-article .card-img-top {
  width: 100%;
}

h6.widget-title {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #23a0bf;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  margin-bottom: 43px;
}

h6.widget-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 60px;
  border-bottom: 3px solid #02A2F2;
}

/* boostrap edit end */
@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  header .nav-top, header .main-header {
    display: none;
  }
  header .main-menu {
    margin-bottom: 0;
  }
  header .main-menu .navbar {
    margin-bottom: 0;
  }
  header .main-menu .navbar-nav li {
    width: 100%;
  }
  header .navbar-brand {
    display: block;
  }
  .m-slider {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 1000px) {
  header .brand {
    height: 65px;
  }
  header .brand h1 {
    padding-left: 85px;
    margin-top: 16px;
    font-size: 25px;
  }
  header .banner-top {
    display: none;
  }
}
