<section class="featured-article">
    <div class="row ">
        <div class="col-md-12">
            <h6 class="widget-title">Featured Article</h6>
        </div>
        {% set postslist = collections.posts %}         
        {% set a = 0 %}
        {% for post in postslist | reverse %}            
            {% if a < 4 %}
            {%set a = a + 1 %}
            <aside {% if post.url == url %} data-current="current item"{% endif %} class="col-md-3 col-sm-6">
                <div class="main-featured">
                    <a href="{{ post.url | url }}" title="Top 10 eSport Players" class="more-button">
                        <div class="card-img-top">
                            {% if post.data.thumbs %}
                                <img src="{{ '/' | url }}static/img/{{ post.data.thumbs }}">
                                {% else %}
                                    <img  src="{{ '/' | url }}static/img/no-image.png">
                            {% endif %}		
                        </div>
                        <div class="post-title">
                            <h3 class="title">
                                    {% if post.data.title %}                                             	
                                        {{ post.data.title }}
                                    {% else %}
                                        Untitled
                                    {% endif %}
                            </h3>                            
                            <p class="meta-entry">
                                <time datetime="{{ post.date | machineDate }}">
                                    <span class="post-date">                    
                                        {{ post.date | readableDate }} by 
                                    </span>
                                </time>
                                <span class="author">
                                    {{ metadata.author.name }}
                                </span>
                                
                            </p>
                            </div>
                            <div class="card-body">
                                {% if post.data.summary %}
                                    <div class="excerpt">
                                        {{ post.data.summary }}
                                    </div>
                                {% endif %}
                            </div>
                        </a> 
                    </div>                       
                </aside>
            {% endif %}
        {% endfor %}
    </div>
</section>