<footer>
    <div class="container">
        <div class="colomns">
            <div class="column is-4">
                <h2>
                   CATEGORIES
                </h2>
                <div class="content">
                  
                </div>
            </div>
            <div class="column is-4">
                <h2>
                    RECENT POST
                </h2>
                <div class="content">

                </div>
            </div>
            <div class="column is-4">
                <h2>
                    TAG CLOUD
                </h2>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</footer>
