<footer>
    <div class="container">
        <div class="columns">           
            <div class="col-md-4"> 
                <aside class="widget widget-recent">
                    <h5 class="widget-title">Recent Post</h5>
                    <ul id="recent-post-list">
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                    </ul> 
                </aside>
            </div>
            <div class="col-md-4">               
                <aside class="widget widget-tag">
                        <h5 class="widget-title">tag cloud</h5>
                        <a href="#">Blockquotes</a>
                        <a href="#">Headline</a>
                        <a href="#">Design</a>
                        <a href="#">Beautifull</a>
                        <a href="#">Collaboration</a>
                        <a href="#">Personal</a>
                        <a href="#">Featured</a>
                        <a href="#">Professional</a>
                        <a href="#">Themes</a>
                    </aside>
            </div>
            <div class="col-md-4">
                <aside class="widget widget-categories">
                    <h5 class="widget-title">Sosial Media</h5>
                    <ul class="social-menu">
                        <li><a href=""><i class="fab fa-facebook"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></span></a></li>
                        <li><a href=""><i class="fab fa-behance-square"></i></a></li>
                        <li><a href=""><i class="fab fa-dribbble-square"></i></a></li>
                    </ul>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<g>
	<path d="M50.049,0.3c14.18,0.332,25.969,5.307,35.366,14.923S99.675,36.9,100,51.409c-0.195,11.445-3.415,21.494-9.658,30.146 - yadda yadda yadda"/>
</g>
</svg>

                    <div class="txt-footer">
                        <p>Documentation and examples for Bootstrap’s powerful,
                        responsive navigation header, the navbar. </p>

                    </div>
                </aside>
            </div>
        </div>
        <div class="col-md-12"> 
            <div class="copyright">
                Copyright by <a href="https://www.bandar-sepak-bola.com">bandar-sepak-bola</a>.
                2019
            </div>
        </div>
    </div>
</footer>

