<footer>
    <div class="container">
        <div class="columns">           
            <div class="col-md-4"> 
                <aside class="widget widget-recent">
                    <h5 class="widget-title">Recent Post</h5>
                    <ul id="recent-post-list">
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-hero.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                        <li>
                            <a class="post-title" href="single-page.html">Design From the Spine and You’ll Be Fine</a>
                            <p class="meta-entry"><span class="post-date">July 1, 2014</span><span class="author"> by <a href="author.html">Brian Gardner</a></span></p>
                        </li>
                    </ul> 
                </aside>
            </div>
            <div class="col-md-4">               
                <aside class="widget widget-tag">
                        <h5 class="widget-title">tag cloud</h5>
                        <a href="#">Blockquotes</a>
                        <a href="#">Headline</a>
                        <a href="#">Design</a>
                        <a href="#">Beautifull</a>
                        <a href="#">Collaboration</a>
                        <a href="#">Personal</a>
                        <a href="#">Featured</a>
                        <a href="#">Professional</a>
                        <a href="#">Themes</a>
                    </aside>
            </div>
            <div class="col-md-4">
                <aside class="widget widget-categories">
                    <h5 class="widget-title">Sosial Media</h5>
                    <ul class="social-menu">
                        <li><a href=""><i class="fab fa-facebook"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></span></a></li>
                        <li><a href=""><i class="fab fa-behance-square"></i></a></li>
                        <li><a href=""><i class="fab fa-dribbble-square"></i></a></li>
                    </ul>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<symbol id="icon-facebook" viewBox="0 0 30 30">
        <path d="M22 0h-4.8c-2.9 0-6 1.2-6 5.3v4.4H7.9v5.2h3.4V30h6.2V14.8h4.1l.4-5.2h-4.6v-3c0-1.6 1.7-1.5 1.8-1.5H22V0z"/>
</symbol>
</svg>


                    <div class="txt-footer">
                        <p>Documentation and examples for Bootstrap’s powerful,
                        responsive navigation header, the navbar. </p>

                    </div>
                </aside>
            </div>
        </div>
        <div class="col-md-12"> 
            <div class="copyright">
                Copyright by <a href="https://www.bandar-sepak-bola.com">bandar-sepak-bola</a>.
                2019
            </div>
        </div>
    </div>
</footer>

