<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
<body>
	<div class="wrapper">
		<header>			
			<div class="main-header">
				<div class="container">
					<div class="row">				
						<div class="col-md-4">
							<a  class="brand" href="{{ '/' | url }}"><h1>{{ metadata.title }}</h1></a>
						</div>
						<div class="col-md-8 banner-top">
							<a href="#">
								<img class="img-fluid" src="{{ '/' | url }}static/img/728x90_ad.png" alt="Responsive image">
							</a>							
						</div>
					</div>						
				</div>
			</div>
			<div class="main-menu">
				{% include "components/nav.njk" %}						
			</div>			
		</header>

		<main>
			<div class="container">
				{{ layoutContent | safe }}
			</div>
		</main>
		{% include "components/featuredarticle.njk" %}	
		{% include "components/footer.njk" %}
	</div>
	
</body>
</html>
