<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
<body>
	<div class="wrapper">
		<header>
			<nav class="nav-top hidden-xs">
					<div class="container">
						<div class="clearfix">
							<div id="secondary-menu">
								hadir
							</div>
							<div class="pull-right">
								<ul class="social-menu">
									<li><a href=""><i class="fab fa-facebook"></i></a></li>
									<li><a href=""><i class="fab fa-twitter-square"></i></a></li>
									<li><a href=""><i class="fab fa-instagram"></i></span></a></li>
									<li><a href=""><i class="fab fa-behance-square"></i></a></li>
									<li><a href=""><i class="fab fa-dribbble-square"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
	</div>
</body>
</html>
