---
layout: layouts/base.njk
section: home
---
<div class="rslides_container">     
  
    <ul class="rslides" id="slider1">
      <li><img  src="{{ '/' | url }}static/img/kitchen_adventurer_caramel.jpg"></li>
      <li><img  src="{{ '/' | url }}static/img/kitchen_adventurer_donut.jpg"></li>
    </ul>

</div>


{{ layoutContent | safe }}
</section>


<script>
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1366,
        namespace: "centered-btns"
      });
    });
  </script>