---
layout: layouts/base.njk
section: home
---
<section class="slider">
<div class="flexslider">
    <ul class="slides">
        <li data-thumb="{{ '/' | url }}static/img/kitchen_adventurer_cheesecake_brownie.jpg">
            <img src="{{ '/' | url }}static/img/kitchen_adventurer_cheesecake_brownie.jpg" />
            </li>
            <li data-thumb="{{ '/' | url }}static/img/kitchen_adventurer_lemon.jpg">
            <img src="{{ '/' | url }}static/img//kitchen_adventurer_lemon.jpg" />
            </li>
            <li data-thumb="{{ '/' | url }}static/img/kitchen_adventurer_donut.jpg">
            <img src="{{ '/' | url }}static/img//kitchen_adventurer_donut.jpg" />
            </li>
            <li data-thumb="{{ '/' | url }}static/img/kitchen_adventurer_caramel.jpg">
            <img src="{{ '/' | url }}static/img/kitchen_adventurer_caramel.jpg" />
        </li>
    </ul>
</div>
</section>
<section>
{{ layoutContent | safe }}
</section>

<script async src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script>
<script async src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.woff"></script>
<script async src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/fonts/flexslider-icon.ttf"></script>
<script type="text/javascript">
    $(function(){
        SyntaxHighlighter.all();
    });
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>
