---
layout: layouts/base.njk
section: home
---
<section class="columns">
    <aside class="column is-9">
        <div class="rslides_container">   
            <ul class="rslides" id="slider1">
                <li><img  src="{{ '/' | url }}static/img/kitchen_adventurer_caramel.jpg"></li>
                <li><img  src="{{ '/' | url }}static/img/kitchen_adventurer_cheesecake_brownie.jpg"></li>
                <li><img  src="{{ '/' | url }}static/img/kitchen_adventurer_donut.jpg"></li>
            </ul>
        </div>
    </aside>
    <aside class="column is-3">
        <article class="columns">
            <div class="column is-full">
                <img src="{{ '/' | url }}static/img/bola1.jpg">
            </div>
            <div class="column is-full">
                <div class="content">
                    <p>
                    <strong>Lorem ipsum dolor sit amet</strong>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>      
            </div>          
        </article>
        
    </aside>
</section>
<section>
    {{ layoutContent | safe }}
</section>


<script>
    $(function () {
        // Slideshow 1
        $("#slider1").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        maxwidth: 1366,
        namespace: "centered-btns"
        });
    });
</script>