---
layout: layouts/base.njk
section: post
---
<div class="container bg-main">
<article>
    <h1>{{ title }}</h1>  
    {{ layoutContent | safe }}
    <p class="meta-entry">
        <time datetime="{{ date | machineDate }}">
            <span class="post-date">                    
                {{ date | readableDate }}
            </span>
        </time>            
            <span class="author">
                by <strong>{{ metadata.author.name }}</strong>
            </span>                  
    </p>
    {% if tags %}
        <p>
        {% for tag in tags %}
        {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
        </p>
    {% endif %}

</article>

<nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
</div>