---
layout: layouts/base.njk
section: post
---

<article>
    <div class="post-title">
        <h1>{{ title }}</h1>

        <p class="meta-entry">
            <time datetime="{{ date | machineDate }}">
                <span class="post-date">                    
                    {{ date | readableDate }}
                </span>           
                <span class="author">
                    by {{ metadata.author.name }}
                </span>
            </time>            
        </p>
    <div>
    {{ layoutContent | safe }}

    {% if tags %}
        <p>
        {% for tag in tags %}
        {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
        </p>
    {% endif %}

</article>

<nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
